ion-avatar.dogpic {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    img {
        border-radius: 20%;
    }
}

.dogsep {
    font-size: small;
}

.like {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow-icon {
    color: gray;
}

.fav {
    margin-top: 50px;
    margin-left: 10px;
}