.dog-name {
    font-family: 'Noto Sans JP', sans-serif;
    color: teal;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    
}

.dog-description {
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    text-align: center;
    line-height: 15px;
}

.profile-header {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: left;
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
    color: teal;
}

.profile-description {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: left;
    padding-left: 10px;
    font-size: medium;
}

.picture {
    border-radius: 5px;
    
}