<ion-header>
  <ion-toolbar>
      <ion-title>Adoção em processo</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/profile"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <div *ngFor="let dog of actives">
          <ion-item (click)="openModalDogProfile(dog?.id)">
              <slot name="start">
                  <ion-avatar>
                      <img [src]='dog?.profilepic'>
                  </ion-avatar>
              </slot>
              <ion-label class="dogsep">
                  <h3>{{ dog?.name }}</h3>
                  <ion-label>{{ dog?.breed }}</ion-label>
                  <ion-note>{{dog?.sex}} &middot; {{ dog?.age }} &middot; {{ dog?.size }}</ion-note>
                  <ion-label>
                      <ion-note>
                          {{ dog?.idPerrera }}
                      </ion-note>
                  </ion-label>
              </ion-label>
              <ion-note slot="end" class="arrow-icon">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-note>
          </ion-item>
      </div>
  </ion-list>
</ion-content>
