<ion-header>
    <ion-toolbar>
        <ion-title>Alterar informações do perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="editUserForm">
        <h5>Coloque sua senha para alterar</h5>
        <ion-row>
            <ion-col size="12">
                <ion-item class="password">
                    <ion-input formControlName="cPassword" placeholder="Senha atual" [type]="showCurrentPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
                    <button (click)="onCurrentPasswordToggle()" ion-button clear small item-end icon-only>
                      <ion-icon [name]="showCurrentPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <h5>Alterar Email</h5>
                <ion-item class="password">
                    <ion-label position="floating">E-mail</ion-label>
                    <ion-input formControlName="email"></ion-input>
                </ion-item>
                <ion-button size="small" (click)="updateEmail()" expand="block">Trocar e-mail</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <h5>Alterar senha</h5>
                <ion-item class="password">
                    <ion-input formControlName="nPassword" placeholder="Nova Senha" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
                    <button (click)="onPasswordToggle()" ion-button clear small item-end icon-only>
                        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size ="12">
                <ion-item class="password">        
                    <ion-input formControlName="ncPassword" placeholder="Confirme a Senha" [type]="showConfirmedPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>
                    <button (click)="onConfirmPasswordToggle()" ion-button clear small item-end icon-only>
                        <ion-icon [name]="showConfirmedPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                    </button>
                </ion-item>
                <ion-button size="small" (click)="updatePassword()" expand="block">Alterar Senha</ion-button>
            </ion-col>
        </ion-row>
    

        <ion-button (click)="closeModal()" expand="block" fill="outline">Cancelar</ion-button>
    </form>

</ion-content>
